@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car Properties List</h4>
                        <p class="card-subtitle mb-4">
                            This page help us to brand operations.
                            <code>.table</code> to any
                            <code>&lt;table&gt;</code>.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Brand Own Cars</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.name</td>
                                            <td><a href="/AdminBrand/RemoveBrand/@item.brandID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-dark">Brand Own Cars</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Add New Brand<a></td>
                        </div>

                    </div>

                </div>


            </div>

        </div>


    </div>
</div>

