@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni About Bilgisi Girişi</h4>
                        <p class="card-subtitle mb-4">About alanına veri girişini aşağıdaki panelden yapabilirsiniz. Tasarımda bozulma olmaması adına yeni bir About girişi yaptıktan sonra önceki About alanını silin, sadece 1 tane About verisi kalmalıdır.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="title" placeholder="Başlığı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <textarea rows="5" asp-for="description" class="form-control" placeholder="Açıklamayı Giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputimageUrl">Video Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputimageUrl" asp-for="imageurl" placeholder="Hakkımda Kapak Fotoğraf Linkini Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımda Bilgisini Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

